# Virtual environment
venv/

# VSCode settings (opsional, tergantung preferensi tim)
.vscode/

# __pycache__ (file cache Python)
**/__pycache__/

# Model/data besar dan file sementara
app/coqui_utils/
app/whisper.cpp/

# File output atau data besar lain (jika ada)
*.pth
*.log
*.json
*.ckpt

# Mac / Windows OS junk files
.DS_Store
Thumbs.db
